body {
  height: 2000px;
}

.display-4 {
  font: 50px sans-sherif;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 25px;
}

#navbarNav {
  font-size: 20px;
  margin-right: -20px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #f5deb3;
}

#aboutmef {
  font-size: 40px;
}

.hello {
  font-size: 20px;
}

#galleryf {
  font-size: 40px;
}

#projects {
  background-color: #f5deb3;
}

section {
  padding-top: 5rem;
}

#navbarc {
  background-color: #fccf7d;
}

#footerc {
  background-color: #f5deb3;
}

#alink {
  color: black;
}

.alfaa {
  color: #fccf7d;
}

.lead {
  font-size: 25px;
  text-decoration: underline;
}
